<div class="about-container">
    <div layout="column"  layout-wrap layout-align="start center">
        <div>
            <h2 style="color:rgb(16,108,200);">About</h2>
        </div>
        <md-content class="layout-padding flex">
            <p>Let's Build is a platform that drives innovation from the bottom up. It allows employees to propose ideas that can be vetted by their peers. Employees can also express their interest in contributing to a proposal. Let's Build aims to foster an environment of collaboration that leads to idea generation and execution.</p>
            <p>Who knows, whats in your head might just be the next big thing!</p>
        </md-content>
    </div>
</div>

<style type="text/css">
    .about-container {
        margin: 2% 8%;
        background-color: #f7f7f9;
    }
    .about-container md-content {
        padding: 0px 15px 15px;
        background-color: #f7f7f9;
    }
</style>