<div >

    <h1 class="md-subhead">All TODO LIST ITEMS </h1>
    <ul>
        <li ng-repeat="todoItem in todos">
            <!--div class="pull-right feature-buttons">
                <md-checkbox class="md-secondary pull-right" ng-model="todoItem.isPublished" ng-change="togglePublish( todoItem )"></md-checkbox>
                <md-button class="md-fab md-mini pull-right" ng-click="deleteTodo( $event, $index, todoItem)">
                    <span class="fa fa-trash"></span>
                </md-button>
                <md-button ng-href="#/edit/{{todoItem.id}}"class="md-fab md-mini pull-right">
                    <span class="fa fa-edit"></span>
                </md-button>
            </div-->

            <p>{{todoItem.text}}</p>

        </li>
    </ul>
    


</div>