<div class="aside-nav" id="aside-nav">
    <div class="aside-nav-content">
        <ul class="nav-links">
            <li>
                <a ng-href="#/" >
                    Home
                </a>
            </li>
            <li>
                <a href="#/propose-form" >
                    Propose An App
                </a>
            </li>
            <li>
                <a href="#/all-proposals" >
                    All Proposals
                </a>
            </li>
            <li ng-if="!user.firstName">
                <a  ng-click="signIn( $event )" ng-href="{{signinurl}}" >
                    SIGNIN
                </a>
            </li>
            <li ng-if="user.firstName">
                <a  href="#/my-proposals" >
                    My Proposals
                </a>
            </li>
            <li ng-if="user.admin">
                <a  href="#/admin" >
                    Admin Dashboard
                </a>
            </li>
            <li ng-if="user.admin">
                <a  href="#/site-config" >
                    Site config
                </a>
            </li>
            <li ng-if="user.admin">
                <a  href="#/feature-config" >
                    Feature config
                </a>
            </li>
            <li>
                <a  href="https://github.com/uidev547/corridorApp/issues" target="_new">
                    Create a github issue
                </a>
            </li>
            <li>
                <a  href="#/aboutus" >
                    About
                </a>
            </li> 
            <li ng-if="user.firstName">
                <a  href="#" ng-click="logout($event)">
                    LOGOUT, {{user.firstName}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-menu-button">
    <a href="#" class="nav-menu gtm-click-nav-menu" ng-click="openMenu( $event )" data-gtm-data="Global navigation">
        <span>Global Nav menu</span>
        <i class="fa fa-bars"></i>
    </a>
</div>
<div id="opened-page-mask" class="opened-page-mask" ng-click="closeMenu( $event )"></div>  