<div class="aside-nav" id="aside-nav">
    <div class="aside-nav-content">
        <ul class="nav-links">
            <li>
                <a ng-href="#/" >
                    Home
                </a>
            </li>
            <li>
                <a href="#/propose-form" >
                    Propose An App
                </a>
            </li>
            <li>
                <a href="#/all-proposals" >
                    All Proposals
                </a>
            </li>
            <li ng-if="!username">
                <a  ng-href="{{signinurl}}" >
                    SIGNIN
                </a>
            </li>
            <li ng-if="username">
                <a  href="#/my-proposals" >
                    My Proposals
                </a>
            </li>
            <li ng-if="admin">
                <a  href="#/admin" >
                    Admin Dashboard
                </a>
            </li>
            <li ng-if="admin">
                <a  href="#/site-config" >
                    Site config
                </a>
            </li>
            <li ng-if="admin">
                <a  href="#/feature-config" >
                    Feature config
                </a>
            </li>
            <li>
                <a  href="https://github.com/uidev547/corridorApp/issues" target="_new">
                    Create a github issue
                </a>
            </li>
            <li>
                <a  href="#/aboutus" >
                    About
                </a>
            </li> 
            <li ng-if="username">
                <a  href="#" ng-click="logout($event)">
                    LOGOUT, {{username}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-menu-button">
    <a href="#" class="nav-menu" ng-click="openMenu( $event )" >
        <i class="fa fa-bars"></i>
    </a>
</div>
<div id="opened-page-mask" class="opened-page-mask" ng-click="closeMenu( $event )"></div>  


<style type="text/css">
    
    .aside-nav {
        z-index: 100;
        position: fixed;
        top: 0px;
        bottom: 0;
        width: 250px;
        right: -250px;
        background: rgb(43, 51, 64);
        overflow: auto;
        transition: right 0.3s linear;
    }
    .nav-links a {
        border-bottom: 1px solid #262626;
        color: rgba(255, 255, 255, 0.7);
        display: block;
        padding: 0.66667rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s linear;
    }
    .nav-links a:hover, .nav-links a:focus {
        background: #f7f7f9;
        font-weight: bold;
        color: #FF5722;
    }
    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
    .aside-nav-content {
        visibility: hidden;
    }
    .open-navigation .aside-nav {
        right: 0;
        transition: right 0.3s linear;
    }
    .open-navigation .opened-page-mask {
        display: block;
    }
    .open-navigation .aside-nav-content {
        visibility: visible;
    }
    .opened-page-mask {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 99;
        cursor: pointer;
        background: rgba(255,255,255,0.2);
    }
    .open-navigation .wrap-all {
        left: -250px;
        transition: left 0.3s linear;
    }
    .wrap-all {

        -webkit-transition:  left 0.3s linear;
        -moz-transition:  left 0.3s linear;
        -o-transition:  left 0.3s linear;
        transition:  left 0.3s linear;

    }
    .wrap-all {
        left: 0;
        position: relative;
    }
    .app-search-opened .wrap-all {
        /*transform: scale3d(0.95, 0.95, 1);*/
    }
    .fixed-menu-button {
        position: fixed;
        right: 0;
    }
    .open-navigation .fixed-menu-button {
        right: 250px;
        transition: right 0.3s linear;
    }
    .fixed-menu-button {
        margin-top: 10px;
        position: fixed;
        top: 0px;
        right: 0px;
        transition: right 0.3s linear;
        z-index: 10;
    }
    .nav-menu {
        margin-top: 15px;
        margin-right: 20px;
        font-size: 24px;
        color: #FF5722;
    }
    .corr-home-btn {
        float: right;
        background: rgba(250, 203, 59, 0.85) !important;
        margin-top: 10px;
        box-shadow: none;
        padding: 0 10px;
    }
</style>