<div layout="row"  layout-sm="column" layout-align="center center">
    <div flex class="welcome-section welcome-content1" layout="row" layout-align="center center">
        <div flex  class="welcome-content">
            <h1 class="md-display-1">
                I have an Idea
            </h1>
            <p>
                I want contributors to help me build an Idea
            </p>
            <div class="button-container home-btn-container" >
                <md-button href="#/propose-form" class="md-raised md-primary primary-button gtm-click-pap" >
                    Propose An App
                </md-button>
            </div>
        </div>
    </div>
    <div flex class="welcome-section" layout="row" layout-align="center center">
        <div flex class="welcome-content">
            <h1 class="md-display-1">
                I would like to contribute 
            </h1>
            <p>
                I want to help people build ideas
            </p>
            <div class="button-container home-btn-container" >
                <md-button href="#/all-proposals" class="md-raised md-primary primary-button gtm-click-bacb">
                    Be a Contributor
                </md-button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.main-content {
    padding-bottom: 0px !important;
}    
</style>
