<form name="updateForm" class="update-form" ng-submit="saveApp( $event )" novalidate ng-class="{'form-validate':updateForm.$showValidation}">
    <div ng-if="item">
        <div class="pull-right">
            <div ng-show="isPublished" id="yj-share-button" class="yj-share-button"></div>
            <md-button class="md-raised md-primary primary-button" data-step="2" data-intro="Save your changes and publish later.">
                <span ng-if="isPublished">
                    Update Changes
                </span>
                <span ng-if="!isPublished">
                    Save to draft
                </span>
            </md-button>
            <md-button ng-if="!isPublished" class="md-raised md-primary primary-button" ng-click="togglePublish( $event, isPublished ) " data-step="3" data-intro="Publish to make it available for others.">
                Publish
            </md-button>
            <md-button ng-if="isPublished" class="md-raised md-warn primary-button" ng-click="togglePublish( $event, isPublished ) ">
                unpublish
            </md-button>
            <md-button ng-if="item._id"  class="md-raised md-primary primary-button" target="_blank" ng-href="gallery/id/{{item._id}}">
                Preview
            </md-button>
        </div>
        
        <h1 class="md-display-1">
      <span ng-show="itemName">
        Edit: {{itemName}}
      </span>
      <span ng-show="!itemName">
        Propose your Idea.
      </span>
    </h1>
        <md-content layout-padding>
            <md-tabs md-dynamic-height md-border-bottom md-selected="global.selectedIndex" data-step="1" data-intro="Fill in your application details." data-position="top">
                <md-tab label="Introduction">
                    <md-content class="tab-content">
                        <div>
                            <div>
                                <md-input-container>
                                    <label>App Name</label>
                                    <input md-maxlength="30" maxlength="30" required name="appName" ng-model="item.appName">
                                    <div ng-messages="updateForm.$showValidation && updateForm.appName.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="maxlength">The name has to be less than 30 characters long.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container>
                                    <label>Short Description</label>
                                    <textarea md-maxlength="140" maxlength="140" columns="1" name="shortDesc" ng-model="item.shortDesc"></textarea>
                                    <div ng-messages="updateForm.$showValidation && updateForm.shortDesc.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="maxlength">ShortName has to be less than 140 characters long.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container>
                                    <label>Long Description</label>
                                    <textarea columns="1" name="longDesc" ng-model="item.longDesc"></textarea>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container>
                                    <label>Category </label>
                                    <md-select ng-model="item.category" name="category">
                                      <md-option value="Website, IT and Software">
                                            Website, IT and Software
                                      </md-option>
                                      <md-option value="Employee Self Service">
                                            Employee Self Service
                                      </md-option>
                                        <md-option value="Mobile">
                                            Mobile
                                        </md-option>
                                        <md-option value="Finance">
                                            Finance
                                        </md-option>
                                        <md-option value="Insurance">
                                            Insurance
                                        </md-option>
                                        <md-option value="Health Care">
                                            Health Care
                                        </md-option>
                                        <md-option value="Educational Services">
                                            Educational Services
                                        </md-option>
                                    </md-select>
                            </div>
                            <div>
                                <md-input-container>
                                    <label>Estimated effort ( in hours )</label>
                                    <input type="number" required name="effort" ng-model="item.effort">
                                </md-input-container>
                            </div>

                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Solution">
                    <md-content class="tab-content">
                        <div>
                            <md-input-container>
                                <label>Analysis/Solution Approach</label>
                                <textarea required columns="1" name="solution" ng-model="item.solution"></textarea>
                                <div ng-messages="updateForm.$showValidation && updateForm.solution.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                        </div>
                        <div>
                            <md-input-container>
                                <label>YouTube (Embed code)</label>
                                <input  name="vedioLink" ng-model="item.vedioLink" ng-pattern="/(http:|https:|)\/\/(player.|www.)?(vimeo\.com|youtu(be\.com|\.be|be\.googleapis\.com))\/(video\/|embed\/|watch\?v=|v\/)?([A-Za-z0-9._%-]*)(\&\S+)?/i"/>
                                <div ng-messages="updateForm.$showValidation && updateForm.vedioLink.$error">
                                    <div ng-message="pattern">Invalid url</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Reference URL's</label>
                                <textarea columns="1" name="links" ng-model="item.links"></textarea>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Team">
                    <md-content class="tab-content">
                        <div class="field-wrapper">
                            <md-chips required ng-model="item.proposedTeam" name="proposedTeam"  md-autocomplete-snap md-require-match="true">
                                <md-autocomplete
                                    md-search-text="search.proposed"
                                    md-items="sugg in querySearch(search.proposed, 'proposedTeam')"
                                    placeholder="+ Proposed By ">
                                    <span>{{sugg.firstName}} {{sugg.lastName}} :: {{sugg.mail}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                      <strong>{{$chip.firstName}} {{$chip.lastName}}</strong>
                                      <em>({{$chip.mail}})</em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                            <div ng-messages="updateForm.$showValidation && updateForm.
                            proposedTeam.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Settings">
                    <md-content class="tab-content">
                        <div>
                            <div>
                                <p>Is the App needs to be publish outside pramati</p>
                                <md-radio-group ng-model="item.public" name="public">
                                    <md-radio-button value="public" class="md-primary"> Public </md-radio-button>
                                    <md-radio-button value="private"> Private </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Project Status</label>
                                <input type="text" ng-model="item.status" name="status">
                            </md-input-container>
                        </div>
                        <div class="field-wrapper">
                            <md-chips ng-model="item.invites" name="invites" md-autocomplete-snap md-require-match="true">
                                <md-autocomplete
                                    md-search-text="search.invite"
                                    md-items="sugg in querySearch(search.invite, 'invites')"
                                    placeholder="+Invite"
                                    >
                                    <span>{{sugg.fullName}} :: {{sugg.mail}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                      <strong>{{$chip.fullName}}</strong>
                                      <em>({{$chip.mail}})</em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                        </div>
                        <div>
                            <md-input-container>
                                <label>App Icon URL</label>
                                <input type="text" ng-model="item.imgurl" name="imgurl">
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="interested People" ng-if="item.interests &&item.interests.length>=0">
                    <md-content class="tab-content">
                        <div ng-if="!item.interests || item.interests.length===0">
                            <p>This an Awesome Idea</p>
                            <p>We are looking for Interested people</p>
                        </div>
                        <div class="grid-row">
                           <div ng-repeat="user in item.interests | getImages" class="grid grid-md-6 grid-sm-6 grid-xs-12 interested-tile">
                                <div ng-if="user.src" class="backname-prof-pic" ng-style="{'background-image': 'url( {{user.src }})'}">
                                </div>
                                <div ng-if="!user.src" class="background-name">
                                    {{user.firstName[0]}}{{user.lastName[0]}}
                                </div>
                                <div class="name-container">
                                  <div>{{user.firstName}}</div>
                                  <div>mail : {{user.mail}}</div>
                                  <div>hours : {{user.hours}}</div>
                                  <div><b>About</b> : {{user.aboutme}}</div>
                                  <div check-feature="show contribute" class="switch-btn"><b>Can Contribute</b> :
                                        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="user.isContributor">
                                        </md-switch>
                                  </div>
                                </div>
                           </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="contributed People" ng-if="item.interests &&item.interests.length>=0">
                    <md-content class="tab-content">
                        <div ng-if="isContributorsAvailable(item.interests)">
                            <p>This an Awesome Idea</p>
                            <p>We are looking for Contributed people</p>
                        </div>
                        <div class="grid-row">
                           <div ng-repeat="user in item.interests | getImages" ng-if="user.isContributor" class="grid grid-md-6 grid-sm-6 grid-xs-12 interested-tile">
                                <div ng-if="user.src" class="backname-prof-pic" ng-style="{'background-image': 'url( {{user.src }})'}">
                                </div>
                                <div ng-if="!user.src" class="background-name">
                                    {{user.firstName[0]}}{{user.lastName[0]}}
                                </div>
                                <div class="name-container">
                                  <div>{{user.firstName}}</div>
                                  <div>mail : {{user.mail}}</div>
                                  <div>hours : {{user.hours}}</div>
                                  <div><b>About</b> : {{user.aboutme}}</div>
                                  <div check-feature="show contribute" class="switch-btn"><b>Can Contribute</b> :
                                        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="user.isContributor">
                                        </md-switch>
                                  </div>
                                </div>
                           </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
        <div style="overflow:auto">
            <md-button href="#" ng-click="prevTab( $event )" class="md-raised md-primary primary-button pull-left" ng-if="global.selectedIndex !=0">
                Previous
            </md-button>
            <md-button href="#" ng-click="nextTab( $event )" class="md-raised md-primary primary-button pull-right" ng-if="global.selectedIndex !=(tabcount - 1)">
                Next
            </md-button>
        </div>

    </div>
</form>