<!doctype html>
<html class="no-js" lang="">
<%- include common/admin.head.ejs %>

    <body>
        <div class="header">
            <%- include common/admin.header.ejs %>
        </div>
        <div ng-class="{ 'sidebar-closed': sidebarClosed }">
            <div class="sidebar clearfix">
                <md-list>
                    <md-subheader class="md-no-sticky">Databases</md-subheader>
                    <md-list-item>
                        <md-button href="#/appstore" class="md-raised md-primary">Appstore</md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button href="#/letsbuild" class="md-raised md-primary">Lets build</md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button href="#/globals" class="md-raised md-primary">Globals</md-button>
                    </md-list-item>
                </md-list>
            </div>
            <div class="main-content">
                <div ui-view></div>
            </div>
        </div>


        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>

        <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="bower_components/showdown/compressed/Showdown.js"></script>
        <script src="bower_components/angular-markdown-directive/markdown.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>


        <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
        <script type="text/javascript" src="javascripts/admin/globals.js"></script>
        <script type="text/javascript" src="javascripts/admin/http-service.js"></script>
        <script type="text/javascript" src="javascripts/admin/admin.js"></script>
        <style type="text/css">
            .form-submitted md-input-container .md-input.ng-invalid {
                border-color: rgb(244, 67, 54);
            }
        </style>

    </body>

</html>