<!doctype html>
<html>

<head>
    <%- include common/head.ejs %>
</head>

<body>
    <div class="wrapall">
        <section>
            <%- include common/header.ejs %>
        </section>
        <section class="main-content header-flush">
            <div class="page-layout" ng-controller="featureConfigController">
                <div class="pull-right">
                    <md-button class="md-raised md-primary primary-button"  data-step="3" data-intro="Publish to make it available for others." ng-click="addNewConfig( $event )">
                        Add New Config
                    </md-button>
                </div>
                <h1 class="md-display-1">
                  Feature configurations
                </h1>
                
                <div>
                    <div layout="row" style="font-weight: bold; margin-bottom: 10px;">
                        <div flex="50" style="padding-right: 10px">
                            Feature
                        </div>
                        <div flex="30" style="padding-right: 10px">
                            _id
                        </div>
                        <div flex="10" style="padding-right: 10px">
                            Open for
                        </div>
                        <div flex="10" style="padding-right: 10px">
                            &nbsp;
                        </div>


                    </div>
                    <div ng-repeat="config in configs" layout="row" >
                        <div flex="50" style="padding-right: 10px">
                            {{config.featureText}}
                        </div>
                        <div flex="30" style="padding-right: 10px">
                            {{config._id}}
                        </div>
                        <div flex="10" style="padding-right: 10px">
                            {{config.open}}
                        </div>
                        <div flex="10" style="padding-right: 10px">
                            <a title="Edit" href="#" style="text-decoration: none" ng-click="editFeature( $event, $index )">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a title="Edit" href="#" style="text-decoration: none" ng-click="deleteFeature( $event, $index )">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <%- include common/footer.ejs %>
        </section>
    </div>

    <%- include common/footer.script.includes.ejs %>
    
    <script type="text/javascript">
        
            angular.module( 'featureConfig', [ 'commonModule' ] )
            .controller( 'featureConfigController', [
                '$scope',
                'http',
                'Notification',
                '$mdDialog',
                'model',
                function  (
                    $scope,
                    http,
                    Notification,
                    $mdDialog,
                    model
                ) {
                    $scope.configs = [];
                    http.get( basePath + 'services/allFeatureConfigs' )
                    .then( function( res ) {
                        $scope.configs = res;
                    } )

                    $scope.addNewConfig = function( ev ) {
                        
                        $mdDialog.show({
                          controller: 'featureConfigTemplateController',
                          templateUrl: basePath + 'partials/feature-config-template.html',
                          parent: angular.element(document.body),
                          targetEvent: ev,
                          clickOutsideToClose:true
                        })
                        .then(function( item ) {
                            $scope.configs.push( item );
                            Notification.success( 'Addedd successfully...' );
                        }, function() {
                            
                            console.log( 'then cancelled..' );

                        });
                    };
                    
                    $scope.editFeature = function( e, index ) {
                        
                        e.preventDefault();
                        model.featureConfig = angular.copy( $scope.configs[ index ] );
                        $mdDialog.show({
                          controller: 'featureConfigTemplateController',
                          templateUrl: basePath + 'partials/feature-config-template.html',
                          parent: angular.element(document.body),
                          targetEvent: e,
                          clickOutsideToClose:true
                        })
                        .then(function( ) {
                            Notification.success( 'updated successfully...' );
                            $scope.configs[ index ] = model.featureConfig;
                            model.featureConfig= null;
                            
                        }, function() {
                         
                            console.log( 'then cancelled..' );
                            model.featureConfig= null;

                        });

                    };

                    $scope.deleteFeature = function( e, index ) {
                        var item = $scope.configs[ index ];

                        if(confirm( 'do you want to delete feature' + item.featureText + ' ?' ) ) {

                            http.get( basePath + 'services/deleteFeatureConfig?_id=' + item._id)
                            .then( function() {
                                $scope.configs.splice( index , 1 );
                                Notification.success( 'successfully Deleted' );
                            } );    
                        }
                        

                    };
                } 
            ] )
            .controller( 'featureConfigTemplateController', [
                '$scope',
                '$mdDialog',
                'http',
                'model',
                function(
                    $scope,
                    $mdDialog,
                    http,
                    model
                ) {
                    $scope.item = model.featureConfig || {
                        list: []
                    };
                    $scope.closeDialog = function() {
                        $mdDialog.cancel();
                    };

                    $scope.updateFeatureConfig = function( e ) {

                        e.preventDefault();
                        var url = model.featureConfig ? 'services/updateFeatureConfig' : 'services/addFeatureConfig';
                        http.post( basePath + url, {
                            postData: {
                                data: $scope.item,
                                _id : $scope.item._id  
                            }
                        })
                        .then( function( res ) {
                            $mdDialog.hide( res || $scope.item );
                        } );
                    };                    
                }
            ] )
            
            
            
            angular.bootstrap(document, ['featureConfig'])
            ;
        
    </script>

    <style type="text/css">
        
        .update-form {
            margin-bottom: 20px;
        }
        
        .field-wrapper {
            padding: 2px 2px 26px;
        }
        md-switch {
            margin-left: 0
        }
    </style>
</body>

</html>
