<!DOCTYPE html>
<html>

<head>
    <%- include common/head.ejs %>
</head>
<body>

    <div class="wrapall">
        <div class="loader-wrap" ng-class="{'loader-hide': true}">
            <div class="page-loader"></div>
        </div>
        <section>
            <%- include common/header.ejs %>
        </section>

        <section>

            <div class="banner-container header-flush">
                <!--div class="banner banner3" style="background-image: url( 'images/cover-image-1.jpg' )">
                </div>
                <div class="banner banner1" style="background-image: url( 'images/cover-image-nasa.jpg' )">
                </div>
                <div class="banner banner2" style="background-image: url( 'images/cover-image-2.jpg' )">
                </div>
                <div class="banner banner3" style="background-image: url( 'images/cover-image-1.jpg' )">
                </div-->
                <div layout="row" layout-sm="column">
                    <div flex>
                        <div class="welcome-section1">
                            <div class="page-layout-2">
                                <div class="welcome-content">
                                    <h1 class="md-display-1">
                                    I have An Idea
                                </h1>
                                    <p>
                                        I want contributors to help me build an Idea
                                    </p>
                                    <div class="button-container home-btn-container">
                                        <md-button href="/propose-form" class="md-raised md-primary primary-button home-btn">
                                            Propose An App
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex>
                        <div class="welcome-section2">
                            <div class="page-layout-2">
                                <div class="welcome-content">
                                    <h1 class="md-display-1">
                                    I would like to contribute 
                                </h1>
                                    <p>
                                        I want to help people to build an Idea
                                    </p>
                                    <div class="button-container">
                                        <md-button href="/gallery" class="md-raised md-primary primary-button home-btn">Be a Contributor</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <section>
        <%- include common/footer.ejs %>
    </section>
    <%- include common/footer.script.includes.ejs %>


    <script type="text/javascript">
        setTimeout(function(argument) {
            angular.bootstrap(document, ['commonModule']);
        }, 0)
    </script>

</body>

</html>