<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
   <a href="/admin#/letsbuild/add">Propose Idea</a>
   <br>
   <a href="/letsbuild">Develop proposed App</a>
</body>

</html>