<!doctype html>
<html class="no-js" lang="">

<head>
    <%- include common/index.head.ejs %>
</head>

<body ng-app="app">
    <div class="wrapall">
        <section>
            <%- include common/index.header.ejs %>
        </section>
        <section>
            <div class="header-flush" ng-controller="letsBuildController">
                <div class="page-layout detail-page">
                     <div layout="row" layout-sm="column" class="layout-padding">
                        <div flex="80" flex-sm="100" class="layout-padding">
                            <div class="app-details">
                                <div layout="row" layout-sm="column">
                                    <div class="image-section text-center md-padding" flex="20" flex-sm="100">
                                        <img ng-src="{{item.imgurl || '/images/default.png'}}">
                                    </div>
                                    <div class="app-intro md-padding" flex="55" flex-sm="100">
                                        <div class="md-title">  
                                           {{item.name}}
                                        </div>
                                        <div btf-markdown="item.shortDesc">
                                        </div>
                                        <md-button class="md-raised md-primary pull-right" ng-click="expressInterestDetails($event)">
                                            Express Interest
                                        </md-button>
                                    </div>
                                    <div class="app-summary md-padding" flex="25" flex-sm="100">

                                        <div layout="row" class="text-right">
                                            <span class="" flex="50">Posted date :</span><span flex="50" class="">{{item.createdAt | date:'yyyy-MM-dd'}}</span>
                                        </div>
                                        <div layout="row" class="text-right">
                                            <span class="" flex="50">Last Updated :</span><span flex="50" class="">{{(item.lastUpdated || item.createdAt) | date:'yyyy-MM-dd'}}</span>
                                        </div>
                                        <div layout="row" class="text-right">
                                            <span class="" flex="50">Stage :</span> <span flex="50" class="">{{item.status}}</span>
                                        </div>
                                        <div layout="row" class="text-right">
                                            <span class="" flex="50">Category :</span> <span flex="50" class="">{{item.category}}</span>
                                        </div>
                                        <!-- <div layout="row" class="text-right">
                                            <span class="" flex="50">Effort :</span> <span flex="50" class="">{{item.effort}}</span> 
                                        </div> -->
                                        <div layout="row" class="text-right">
                                            <span class="" flex="50">Likes :</span>
                                            <span class="pull-right" flex="50">
                                                {{item.likes ? item.likes.length : 0}}
                                            <a href="#" ng-click="updateLikes()"><i ng-class="likeClass" style="font-size:18px"></i></a>
                                            </span>
                                        </div>
                                        <!-- <div class="featured-panel">
                                            <div class="pull-right">
                                                <a href="#" class="glyphicon glyphicon-heart"></a>
                                                <a href="#" class="glyphicon glyphicon-thumbs-up"></a>
                                            </div>
                                            <div class="rating-panel">
                                                <rating ng-model="item.rate" max="5" readonly="isReadonly" on-hover="hoveringOver(value)"></rating>
                                            </div>

                                        </div> -->
                                    </div>
                                </div>
                                <md-content layout-padding>
                                    <md-tabs md-dynamic-height md-border-bottom>
                                      <md-tab label="Introduction" ng-if="item.longDesc">
                                        <md-content class="md-padding">
                                            {{item.longDesc}}
                                        </md-content>
                                      </md-tab>
                                      <md-tab label="Stage" ng-if="item.techDetails">
                                        <md-content class="md-padding">
                                            {{item.techDetails}}
                                        </md-content>
                                      </md-tab>
                                      <md-tab label="Video Links" ng-if="item.vedioLink">
                                        <md-content>
                                            <iframe width="100%" height="500" ng-src="{{item.vedioLink | trustAsResourceUrl}}">
                                            </iframe>
                                        </md-content>
                                      </md-tab>
                                      <md-tab label="Team">
                                        <div layout="column">
                                            <md-content>
                                                <div class="md-title">
                                                    Team
                                                </div>
                                                <div class="" ng-repeat="mem in item.contributors">
                                                    <a href="#" class="">
                                                        {{mem}}
                                                    </a>
                                                </div>
                                            </md-content>
                                            <md-content>
                                                <div class="">
                                                        <span class="md-title">Total effort : </span><span class="md-subhead">{{item.effort}}</span>
                                                </div>
                                                <div class="">
                                                        <span class="md-title">Minimum bid : </span><span class="md-subhead">{{item.minimumBid}}</span>
                                                </div>
                                                <!-- <div class="">
                                                        <span class="md-title">% of completion : </span><span class="md-subhead">{{item.percentageOfCompletion}}%</span>
                                                </div> -->
                                            </md-content>
                                        </div>
                                      </md-tab>
                                    </md-tabs>
                                </md-content>
                                
                            </div>
                        </div>
                        <div flex="20" flex-sm="100" class="layout-padding">
                            <div class="proposer-details">
                                <!-- <div>
                                    % of completion
                                    <md-progress-linear md-mode="determinate" value="20">20</md-progress-linear>
                                </div> -->  
                                <div>
                                    <div class="md-title" >Proposed by</div>
                                    <div ng-repeat="mem in item.proposedTeam">
                                        <a href="#" >
                                            {{mem}}
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </section>
        <section>
            <%- include common/index.footer.ejs %>
        </section>
    </div>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/showdown/compressed/Showdown.js"></script>
    <script src="/bower_components/angular-markdown-directive/markdown.js"></script>
    <script src="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="/javascripts/app/notification.js"></script>
    
    <script src="/javascripts/admin/http-service.js"></script>
    <script src="/javascripts/app/sign-in-tile.js"></script>
    
    
    <script type="text/javascript">
        var app = angular.module('app', ['ngMaterial','ui.bootstrap', 'ngAnimate', 'ngSanitize', 'btford.markdown','notification',  'signin']);
        app.controller('letsBuildController', ['$scope', '$http','$mdDialog','Notification','http','$timeout', function($scope,$http,$mdDialog,Notification,http,$timeout) {
                var _id;
                var paths = location.pathname.split('/');
                _id = paths[3];
                $http.get('/services/getdocument?cname=letsbuild&_id=' + _id)
                .then(function(res) {
                    $scope.item = res.data;
                });
                $scope.likeClass = "fa fa-thumbs-o-up";
                //$timeout(function(){
                    if ( typeof GLOBAL!=='undefined' && GLOBAL.user ) {
                        var uid = GLOBAL.user.uid[ 0 ];
                        if( uid) {
                            var likesObj = $scope.item.likes ? $scope.item.likes : [];
                            var index = likesObj.indexOf(uid);
                            $scope.likeClass = index ==-1 ?"fa fa-thumbs-o-up":"fa fa-thumbs-o-down";
                        }
                    }
                //},3000);
                $scope.updateLikes = function(){
                    if ( typeof GLOBAL!=='undefined' && GLOBAL.user ) {
                        var uid = GLOBAL.user.uid[ 0 ];
                        if( uid) {
                            var likesObj = $scope.item.likes ? $scope.item.likes : [];
                            var index = likesObj.indexOf(uid);
                            if (index != -1) {
                                $scope.likeClass = "fa fa-thumbs-o-up";
                                likesObj.splice(index,1);
                                http.post('/services/update', {
                                      postData: {
                                          data: {
                                            likes: likesObj
                                          },
                                          cname: 'letsbuild',
                                          _id: _id
                                      }

                                  } )
                                  .then(function(res) {
                                  } );
                            }
                            else {
                                $http.post('/services/push', {
                                    cname: 'letsbuild',
                                    _id: _id,
                                    data: {
                                        likes: uid
                                    }                                        
                                })
                                .then(function(res) {
                                    $scope.likeClass = "fa fa-thumbs-o-down";
                                    likesObj.push(uid);
                                });     
                            }
                        }
                    }
                }
                var selfScope =  $scope; 
                $scope.expressInterestDetails = function($event) {
                    if ( typeof GLOBAL!=='undefined' && GLOBAL.user ) {
                        var parentEl = angular.element(document.body);
                        $mdDialog.show({
                          parent: parentEl,
                          targetEvent: $event,
                          templateUrl: "/partials/express-interest.html",
                          locals: {
                            
                          },
                          controller: function DialogController($scope, $mdDialog,Notification, http) {
                            var uid = GLOBAL.user.uid[ 0 ];
                            $scope.user = {
                                uid : uid,
                                hours : '',
                                aboutme : ''
                            };
                            var isupdate = false;
                            var interests = selfScope.item.interests;
                            if( uid && interests ) {
                                for( var user in interests   ) {

                                    if( interests[ user ].uid === uid  ) {
                                        isupdate = true;
                                        $scope.user = interests[ user ];
                                        break;
                                    }
                                } 
                            } 
                            $scope.closeDialog = function() {
                              $mdDialog.hide();
                            }
                            $scope.addContributor = function() {
                                if( isupdate ) {
                                    http.post('/services/update', {
                                      postData: {
                                          data: {
                                            interests: interests
                                          },
                                          cname: 'letsbuild',
                                          _id: _id
                                      }

                                  } )
                                  .then(function(res) {

                                    Notification.success( 'Successfully updated your changes' );
                                  } );

                                } else {
                                    $http.post('/services/push', {
                                        cname: 'letsbuild',
                                        _id: _id,
                                        data: {
                                            interests: $scope.user
                                        }                                        
                                    })
                                    .then(function(res) {
                                          if (res.status == 200) {
                                            Notification.success( 'Thanks for expressing interest' );
                                          }
                                    });    
                                }
                                $mdDialog.hide();  
                            };
                          }
                       });
                    }
                    else {
                       window.location = '/signin?redirect=' + location.pathname
                    } 
                }
            }
        ])
        .filter('trustAsResourceUrl', ['$sce', function($sce) {
            return function(val) {
                return $sce.trustAsResourceUrl(val);
            };
        }]);
    </script>
    <style type="text/css">
      .tab-content {
        padding: 20px 0
      }
      .update-form {
        margin-bottom: 20px;
      }
      .field-wrapper {
          padding: 2px 2px 26px;
      }
       body {
            font: 400 13px Montserrat, Arial, Helvetica, sans-serif;
            color: #777777;
            line-height: 1.9;
        }
        .detail-page {
            max-width: 1130px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .md-dialog-container {
            font-size: 16px;
        }
    </style>
</body>

</html>