<!doctype html>
<html>

<head>
    <%- include common/index.head.ejs %>
</head>
<body ng-app="appdetails">
  <div class="wrapall">
    <section>
        <%- include common/index.header.ejs %>
    </section>
    <section>
      
        <div class="header-flush">
            <div class="page-layout">
                <div ui-view></div>
 
            </div>
        </div>  
     
    </section>
    <section>
        <%- include common/index.footer.ejs %>
    </section>
    </div>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/admin/http-service.js"></script>
    <script src="/javascripts/app/notification.js"></script>
    <script src="/javascripts/app/propose-form.js"></script>

    <style type="text/css">
      .tab-content {
        padding: 20px 0
      }
      .update-form {
        margin-bottom: 20px;
      }
      .field-wrapper {
          padding: 2px 2px 26px;
      }
    </style>
</body>
</html>