<!DOCTYPE html >
<html>

<head>
<title page-title>LetsBuild</title>
<style type="text/css">
    @charset "UTF-8";
    .loader-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background: rgba(245, 245, 245, 1);
        transition: all 0.8s ease-in;
        text-align: center;
    }
    .loader-wrap.loader-hide {
        opacity: 0;
        visibility: hidden;
    }
    
    .page-loader{
        position:relative;
        top: 50%;
        left: 47%;
    }
    .page-loader span{
        display:block;
        bottom:0px;
        width: 9px;
        height: 5px;
        background:#9b59b6;
        position:absolute;
        animation: preloader_1 1.5s  infinite ease-in-out;
    }
     
    .page-loader span:nth-child(2){
        left:11px;
        animation-delay: .2s;
    }
    .page-loader span:nth-child(3){
        left:22px;
        animation-delay: .4s;
    }
    .page-loader span:nth-child(4){
        left:33px;
        animation-delay: .6s;
    }
    .page-loader span:nth-child(5){
        left:44px;
        animation-delay: .8s;
    }
    @keyframes preloader_1 {
        0% {height:5px;transform:translateY(0px);background:#9b59b6;}
        25% {height:30px;transform:translateY(15px);background:#3498db;}
        50% {height:5px;transform:translateY(0px);background:#9b59b6;}
        100% {height:5px;transform:translateY(0px);background:#9b59b6;}
    }

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }
    ng\:form {
        display: block;
    }
    .ng-animate-shim {
        visibility: hidden;
    }
    .ng-anchor {
        position: absolute;
    }
</style>

<link rel="stylesheet" href="./css/index.css">
<script>
    var GLOBAL = {};
    <% if(user) {%>
        GLOBAL.user = <%- stringify(user) %>;
    <%} %>
</script>

</head>
<body>
<div class="wrap-all">
    <div class="loader-wrap" ng-class="{'loader-hide': true}">
        <div class="page-loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
    <header>
        <div class="page-layout">
            <a href="./#/" class="logo">
                LetsBuild
            </a>
            <md-button href="//cev3.pramati.com/" class="md-raised md-primary corr-home-btn">
                Corridor Home
            </md-button>
            <div global-nav>
            </div>
        </div>
    </header>
    <div class="main-content page-layout">        
        <div ui-view="lazyLoadView"></div>
    </div>
    <footer>
        <p>
            All Rights Reserved. © 2015, Imaginea
        </p>
    </footer>
</div>
<script src="./js/require-config.js"></script>
<script data-main="script" src="./js/vendors/require.js"></script>


</body>
</html>
