<head>

    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" />
    <link rel="stylesheet" href="stylesheets/admin/admin.css" />
    <title>App Admin</title>
</head>