<header>
    <div layout="row">
        <div flex="20" class="hide-sm">
            <a class="logo" href="#">Admin</a>
        </div>
        <div flex>
            <a href="#" class="sidebar-open-button" ng-click="sidebarClosed=!sidebarClosed"><i class="fa fa-bars"></i></a>
            <a class="logo show-sm" href="#">Admin</a>

        </div>
    </div>
</header>