<div class="app-search-overlay">
    <span class="close glyphicon glyphicon-remove" id="app-search-popup-close"></span>
    <div class="search-content">

        <div ng-controller="searchPopCtrl">

            <div class="container search-wrapper" ng-class="{'result-found': filteredApps().length}">
                <h3>
                    <%= dbcontent( data, 'search_overlay_title' ) %>
                </h3>
                <span class="glyphicon glyphicon-search"></span>
                <input class="search-app" autocomplete="off" ng-model="searchText" id="search-app" type="text" name="search" placeholder="<%= dbcontent( data, 'search_overlay_helptext' ) %>">
                <div>
                    <div class="row app-container">
                        <div class="col-sm-6 col-md-4 col-lg-3 repeated-item" ng-repeat="item in filteredApps()">
                            <div class="app-tile">
                                <div class="image-holder">
                                    <div ng-if="category === 'appstore'">
                                        <a href="#" ng-href="{{item.href}}" target="_blank">
                                            <img ng-src="{{item.src}}">
                                        </a>
                                    </div>
                                    <div ng-if="category === 'letsbuild'">
                                        <a href="#" ng-href="/letsbuild/id/{{item._id}}" target="_blank">
                                            <img ng-src="{{item.src}}">
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="info-holder">
                                    <div ng-if="category === 'appstore'">
                                        <a herf="#" ng-href="{{item.href}}" target="_blank">
                                            <h3>{{item.name}}</h3>
                                        </a>
                                        <div btf-markdown="item.infotext"></div>
                                    </div>
                                    <div ng-if="category === 'letsbuild'">

                                        <p>
                                            Status:
                                            <span class="pull-right">{{item.status}}</span>
                                        </p>
                                        <p>
                                            Effort:
                                            <span class="pull-right"> {{item.effort}} </span>
                                        </p>
                                        <div>
                                            % of completion:
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width':item.percentageOfCompletion + '%' }">
                                                    <span>{{item.percentageOfCompletion}}%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>