<div class="loader-wrap" ng-class="{'loader-hide': true}">
    <div class="page-loader"></div>
</div>
<div class="sticky-wrapper" style="height: 97px;">
    <header id="header" class="header header-v1 header-v1-only clearfix stuck">
        <div class="container">
            <div id="logo-navigation" class="sixteen columns" style="opacity: 1;">
                <div id="logo" class="logo">
                    <a href="http://localhost:8080/"><img src="http://localhost:8080/wp-content/uploads/2015/08/logo_corridor.png" alt="Corridor" class="logo_standard"></a>
                    <a href="http://localhost:8080/"><img src="http://localhost:8080/wp-content/uploads/2015/08/logo_corridor.png" alt="Corridor" class="logo_transparent"></a>
                    <a href="http://localhost:8080/"><img src="http://localhost:8080/wp-content/uploads/2015/08/logo_corridor.png" width="190" height="80" alt="Corridor" class="logo_retina"></a>
                    <a href="http://localhost:8080/"><img src="http://localhost:8080/wp-content/uploads/2015/08/logo_corridor.png" width="190" height="80" alt="Corridor" class="logo_retina_transparent"></a>
                </div>
                <div id="navigation" class="clearfix">
                    <div class="header-icons">
                        <div class="header-icons-divider" style="opacity: 1;"></div>
                        <a href="#" id="search-btn"><i class="icon-minti-search"></i></a>
                    </div>
                    <ul id="nav" class="menu sf-js-enabled sf-arrows">
                        <li id="menu-item-15858" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-3744 current_page_item menu-item-15858"><a href="http://localhost:8080/">HOW WE DO IT</a></li>
                        <li id="menu-item-15862" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15862 current-menu-item"><a href="#">OUR APPS</a></li>
                        <li id="menu-item-15863" class="megamenu columns-3 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15863">
                            <a href="#" class="sf-with-ul">ABOUT US</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-15864" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15864">
                                    <a href="http://localhost:8080/hr/" class="sf-with-ul">HR Corner</a>
                                    <ul class="sub-menu" style="display: none; top: 0px;">
                                        <li id="menu-item-15873" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15873"><a href="http://localhost:8080/hr/hr-announcement/">Plug-IN</a></li>
                                        <li id="menu-item-15868" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15868"><a href="http://localhost:8080/people-philosophy/">Our Raison d’etre</a></li>
                                        <li id="menu-item-15866" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15866"><a href="http://localhost:8080/hr/benefits/">Your Benefits</a></li>
                                        <li id="menu-item-15867" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15867"><a href="http://localhost:8080/hr/policies/">Our Policies</a></li>
                                        <li id="menu-item-15869" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15869"><a href="http://localhost:8080/hr/people-philosophy/">People Philosophy</a></li>
                                        <li id="menu-item-15870" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15870"><a href="http://localhost:8080/workplace/">Workplace</a></li>
                                        <li id="menu-item-15874" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15874"><a href="http://localhost:8080/hr/employee-handbook/">Employee Handbook</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-15865" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15865">
                                    <a href="http://localhost:8080/pramati-portfolio/" class="sf-with-ul">Our Portfolio</a>
                                    <ul class="sub-menu" style="display: none; top: 0px;">
                                        <li id="menu-item-16016" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16016"><a href="http://www.pramati.com">Pramati</a></li>
                                        <li id="menu-item-16019" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16019"><a href="http://www.wavemaker.com">WaveMaker</a></li>
                                        <li id="menu-item-16017" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16017"><a href="http://www.imaginea.com/">Imaginea</a></li>
                                        <li id="menu-item-16018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16018"><a href="https://www.socialtwist.com/">Social Twist</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-15876" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15876">
                                    <a href="http://localhost:8080/support-center/" class="sf-with-ul">Support Center</a>
                                    <ul class="sub-menu" style="display: none; top: 0px;">
                                        <li id="menu-item-15877" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15877"><a href="http://localhost:8080/support-center/your-it-tickets/">Your IT Tickets</a></li>
                                        <li id="menu-item-15878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15878"><a href="http://localhost:8080/support-center/support-teams/">Support Teams</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-15861" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15861"><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
            <div id="search-top" class="sixteen columns clearfix" style="display: none;">
                <form action="http://localhost:8080" method="GET">
                    <input type="text" name="s" value="" placeholder="To Search start typing..." autocomplete="off">
                </form>
                <a href="#" id="close-search-btn"><i class="icon-minti-close"></i></a>
            </div>
        </div>
    </header>
</div>
<div id="mobile-header" class="mobile-header-v1">
    <div class="container">
        <div class="sixteen columns">
            <div id="mobile-logo" class="logo">
                <a href="http://localhost:8080/"><img src="http://localhost:8080/wp-content/uploads/2015/08/logo_corridor.png" alt="Corridor" class="logo_standard"></a>
                <a href="http://localhost:8080/"><img src="http://localhost:8080/wp-content/uploads/2015/08/logo_corridor.png" width="190" height="80" alt="Corridor" class="logo_retina"></a>
            </div>
            <a href="#" id="mobile-navigation-btn"><i class="fa fa-bars"></i></a>
        </div>
    </div>
</div>