<footer id="footer">
    <div class="container">
        <div class="clearfix">
            <div id="text-2" class="widget widget_text four columns">
                <h3>CORRIDOR</h3>
                <div class="textwidget">PLOLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </div>
            </div>
            <div id="recent-comments-2" class="widget widget_recent_comments four columns">
                <h3>Latest News</h3>
                <ul id="recentcomments">
                    <li class="recentcomments"><span class="comment-author-link"><a href="https://wordpress.org/" rel="external nofollow" class="url">Mr WordPress</a></span> on <a href="http://localhost:8080/hello-world/#comment-1">Hello world!</a></li>
                    <li class="recentcomments"><span class="comment-author-link"><a href="http://mintithemes.com" rel="external nofollow" class="url">minti</a></span> on <a href="http://localhost:8080/the-little-person-inside/#comment-3">The little Person inside</a></li>
                    <li class="recentcomments"><span class="comment-author-link"><a href="http://mintithemes.com" rel="external nofollow" class="url">minti</a></span> on <a href="http://localhost:8080/the-little-person-inside/#comment-2">The little Person inside</a></li>
                </ul>
            </div>
            <div id="flickr-2" class="widget widget_flickr four columns">
                <h3>Recent Apps</h3>
                <div id="flickr_tab" class="clearfix">
                </div>
            </div>
            <div id="contact-2" class="widget widget_contact four columns">
                <h3>Need Help?</h3>
                <address>
                    <span class="address"><i class="fa fa-map-marker"></i><span class="adress-overflow">Pramati technologies</span></span>
                    <span class="phone"><i class="fa fa-phone"></i><strong>Phone:</strong> phone number</span>
                    <span class="email"><i class="fa fa-envelope"></i><strong>E-Mail:</strong> <a href="mailto:email">email</a></span>
                    <span class="web"><i class="fa fa-globe"></i><strong>Web:</strong> <a href="http://www.pramati.com" target="_blank">www.pramati.com</a></span>
                </address>
            </div>
        </div>
    </div>
</footer>
<div id="copyright" class="clearfix">
    <div class="container">
        <div>
            <div class="copyright-text copyright-col1">
                2015 Theme - WordPress Theme built by <a href="http://www.mintithemes.com">Mintithemes</a> using <a href="http://wordpress.org/" target="_blank">WordPress</a>.
            </div>
            <div class="copyright-col2">
                <div class="social-icons clearfix">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>