<footer>

    <div class="page-layout">
        <div class="links-copyright">
            <p>
                All Rights Reserved. © 2015, Letsbuild
            </p>
            <!--div layout="row" layout-sm="column">
                <div flex>
                    <a href="about">Aboutus</a>
                </div>
                <div flex>
                    <a href="Policy">Policy</a>
                </div>
                <div flex>
                    <a href="Community">Community</a>
                </div>
                <div flex>
                    <a href="letsbuild">letsbuild</a>
                </div>

            </div-->
        </div>
    </div>
</footer>