<header offset='100' tolerance='20' classes="{initial:'animated',pinned:'slideDown',unpinned:'slideUp'}">
    <div class="page-layout">
        <a href="<%= basePath %>" class="logo">
            LetsBuild
        </a>
         <md-button href="//cev3.pramati.com/" class="md-raised md-primary primary-button corr-home-btn">
                Corridor Home
        </md-button>
        <div global-nav class="fixed-menu-button" >
        </div>
    </div>
</header>