<header offset='100' tolerance='20' classes="{initial:'animated',pinned:'slideDown',unpinned:'slideUp'}">
    <div class="page-layout">
        <a href="/" class="logo">
            <img src="/images/lets-build-wp-logo-building-wordpress-together1.png">
        </a>
        <div global-nav class="fixed-menu-button" >
        </div>
        
    </div>
</header>