<header>
    <div class="page-layout">
        <a href="/" class="logo">
            <img src="/images/lets-build-wp-logo-building-wordpress-together1.png">
        </a>
        <div class="pull-right main-nav" style="margin-top: 10px;">
            <md-button href="/propose-form#/" class="md-primary md-hue-1">
                propose An App
            </md-button>
            <md-button href="/letsbuild" class="md-primary md-hue-1">
                gallary
            </md-button> 
            <div sign-in-tile class="pull-right">
            </div>
        </div>
    </div>
    
</header>