footer {
    background: @footer-bg;
    line-height: @footer-height;
    color: @footer-color;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: @footer-height;
    p {
    	margin: 0;
    }
    a {
        text-decoration: none;
        color: @footer-color;
        font-weight: bold;
    }
}