<div class="app-search-overlay">
    <span class="close fa fa-remove" id="app-search-popup-close"></span>
    <div class="search-content page-layout">
        <div class="container search-wrapper" ng-class="{'result-found': loading || (allFilteredApps.length || searchResultZero&&searchText)}">
            <h3>
                Search Apps
            </h3>
            <span class="fa fa-search"></span>
            <input class="search-app" autocomplete="off" ng-model="searchText" id="search-app" type="text" name="search" placeholder="What are you looking for?" ng-change="searchFilter()">
            <div>
                <div class="search-loader" ng-if="loading">
                    <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
                </div>
                <div class="tiles-container" ng-if="!loading">
                        <div class="tiles grid-row">
                            <div ng-if="!isEdit" class="cardstyle2 fadeInUp  grid grid-xs-12 grid-sm-6 grid-md-6 grid-lg-4" app-tile data-item="item" ng-repeat="item in allFilteredApps">
                            </div>
                            <div ng-if="isEdit"  class="cardstyle2 fadeInUp grid grid-xs-12 grid-sm-6 grid-md-6 grid-lg-4" app-tile-edit data-item="item" data-index="$index" data-delete-item="deleteItem" data-key="key" ng-repeat="item in allFilteredApps">
                            </div>
                        </div>
                        <div class="loadmore" ng-if="tab.length > limit[key]">
                            <md-button ng-click="$event.preventDefault();limit[key] = limit[key] + 8" class="md-raised md-primary primary-button">
                                Loadmore
                            </md-button>
                        </div>
                        <div ng-if="searchResultZero&&searchText">
                            <p>Sorry, We colud not find anything</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


