<div class="tile-data md-whiteframe-2dp">
    <a ng-href="/letsbuild/id/{{item._id}}">
        <div class="image-holder">
            <img ng-src="{{item.imgurl || ('//placehold.it/400x400?text=' + item.appName) }}">
        </div>
        <div class="tile-content">
            <div class="tile-title">
                <h3>{{item.appName}}</h3>
            </div>
            <div class="tile-desc">
                <div btf-markdown="item.shortDesc"></div>
            </div>
        </div>
    </a>
</div>