<div class="card" ng-style="item.class">
   <a ng-href="/gallary/id/{{item._id}}">
      <div class="card-img-container">
         <img ng-src="{{item.imgurl || ('/images/default.png')}}" class="card-img"/>
         <div class="card-favorite">
           <span class="wpfp-span">
                   <md-button class="wpfp-link" href="#" title="Add to Favorites">
                       <span class="icon ion-android-star-outline">
                           <i class="fa fa-star-o fa-lg"></i>
                       </span> Favorite
                   </md-button>
           </span>
         </div>
      </div>
      <div class="card-content">
           <div class="md-headline app-title">{{item.appName}}</div>
           <div class="md-subhead app-desc">
            <div btf-markdown="item.shortDesc">
            </div>
           </div>
      </div>
   </a>
</div>