<div class="apptilescontainer">
   <a ng-href="/gallery/id/{{item._id}}">
      <div class="project-card project-card-tall-big">
         <div class="project-thumbnail">
            <img alt="Project image" class="project-thumbnail-img" ng-src="{{item.imgurl || 'images/default.png' }}" width="100%">
         </div>
         <div class="project-card-content">
            <h6 class="project-title">{{item.appName}}</h6>
             <!-- <p class="project-byline">{{item.appName}}</p>  -->
            <p class="project-blurb">
               {{item.shortDesc}}
            </p>
         </div>
         <div class="project-card-footer">
            <p class="project-byline">Category : {{item.category}}</p>
            <div class="project-stats-container">
               <div class="project-progress-bar">
                  <div class="project-percent-pledged" ng-style="{'width':getEffortFunded(item)}"></div>
               </div>
               <ul class="project-stats">
                  <li style="float: left;">
                     <div class="project-stats-value">{{getEffortFunded(item)}} hours filled</div>
                  </li>
                  <li style="float: right;">
                     <div class="project-stats-value"><span class="money usd no-code">Total Upvotes : {{item.likes.length}}</span></div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </a>
</div>