<div class="card" ng-style="item.class">
   <!-- <a ng-href="/gallery/id/{{item._id}}"> -->
   <a ng-href="/propose-form#edit/{{item._id}}">
      <div class="card-img-container">
         <img ng-src="{{item.imgurl || ('/images/default.png')}}" class="card-img"/>
         <div class="card-favorite">
            <span class="wpfp-span">
                <md-button class="wpfp-link" href="#">
                     <div class="tile-features">
                        <md-button ng-if="!item.isPublish" title="Move {{item.appName}} to Publish" href="#" class="md-fab md-primary md-mini" ng-click="togglePublish($event,item)">
                             <i class="fa fa-share"></i>
                         </md-button>
                        <md-button ng-if="item.isPublish" title="Move {{item.appName}} to Draft" href="#" class="md-fab md-primary md-mini" ng-click="togglePublish($event,item)">
                             <i class="fa fa-reply"></i>
                         </md-button>
                         <md-button title="Edit {{item.appName}}" class="md-fab md-primary md-mini" ng-href="/propose-form#edit/{{item._id}}">
                             <i class="fa fa-edit"></i>
                         </md-button>
                         <md-button title="Delete {{item.appName}}" href="#" class="md-fab md-primary md-mini" ng-click="deleteItem( $event,item, index , key )">
                             <i class="fa fa-trash-o"></i>
                         </md-button>
                     </div>
                </md-button>
            </span>
         </div>
      </div>
      <div class="card-content">
           <div class="md-headline app-title">{{item.appName}}</div>
           <div class="md-subhead app-desc">
            <div btf-markdown="item.shortDesc">
            </div>
           </div>
      </div>
   </a>
</div>
