<div class="tile-data md-whiteframe-2dp">
    <a ng-href="/letsbuild/id/{{item._id}}">
        <div class="image-holder">
            <img ng-src="{{item.imgurl}}">
        </div>
        <div class="tile-title">
            <h3>{{item.appName}}</h3>
        </div>
        <div class="tile-content">
            <div btf-markdown="item.shortDesc"></div>
            <div class="pull-right">
                <md-button class="md-fab md-primary md-mini" ng-href="propose-form/edit/{{item._id}}">
                    <i class="fa fa-edit"></i>
                </md-button>
                <md-button href="#" class="md-fab md-primary md-mini" ng-click="deleteItem( $event,item, $index, key )">
                    <i class="fa fa-trash-o"></i>
                </md-button>
            </div>
        </div>
    </a>
</div>