<div layout="row" layout-wrap>
    <div flex>
        <h1 class="page-title">App store</h1>
    </div>
    <div flex="15">
        <md-button href="#/appstore/add" class="md-raised md-primary block">Add App</md-button>
    </div>
</div>
<div ng-if="responseLoaded && !responseError">
    <div ng-repeat="item in apps" class="app-tile-wrap">
        <div class="app-tile md-whiteframe-z1">
            <div class="image-holder">
                <a ng-href="{{item.href}}">
                    <img ng-src="{{item.src}}">
                </a>
                <div class="feature-panel">
                    <div class="pull-right">
                        <md-button class="md-fab md-primary md-mini" ng-href="#/appstore/edit/{{item._id}}">
                            <i class="fa fa-edit"></i>
                        </md-button>
                        <md-button class="md-fab md-primary md-mini" ng-click="deleteItem( $event,item, $index )">
                            <i class="fa fa-trash-o"></i>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="info-holder">

                <a ng-href="{{item.href}}">
                    <h3>{{item.name}}</h3>
                </a>
                <div>
                    <div btf-markdown="item.infotext"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!apps.length">
        <h2>Please add the App to the project</h2>
    </div>

</div>
<div ng-if="responseError">
    <h1>Some thing went wrong</h1>
</div>
<div ng-if="!responseLoaded">
    <md-progress-linear md-mode="indeterminate">Loading</md-progress-linear>
</div>