<div layout="row" layout-wrap>
    <div flex>
        <h1 class="page-title">Add App</h1>
    </div>
</div>
<form name="appstoreAddForm" ng-submit="addApp( $event )" novalidate ng-class="{'form-submitted': appstoreAddForm.$submitted }">
    <md-input-container>
        <label>Name</label>
        <input required name="name" ng-model="item.appName">
        <div ng-messages="appstoreAddForm.$submitted && appstoreAddForm.name.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>href</label>
        <input required name="href" ng-model="item.href">
        <div ng-messages="appstoreAddForm.$submitted && appstoreAddForm.href.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>infotext</label>
        <textarea required name="infotext" ng-model="item.infotext"></textarea>
        <div ng-messages="appstoreAddForm.$submitted && appstoreAddForm.infotext.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>desc</label>
        <textarea required name="desc" ng-model="item.desc"></textarea>
    </md-input-container>

    <md-input-container>
        <label>Src</label>
        <input required name="src" ng-model="item.src">
        <div ng-messages="appstoreAddForm.$submitted && appstoreAddForm.src.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>srcLg</label>
        <input name="srcLg" ng-model="item.srcLg">
    </md-input-container>
    <md-button class="md-raised md-primary" type="submit">
        Add App
    </md-button>

</form>