<md-dialog aria-label="List dialog" flex="60">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-if="updateItem">Update Feature</h2>
            <h2 ng-if="!updateItem">Add Feature</h2>
        </div>
    </md-toolbar>

    <form name="featureConfigForm" ng-submit="updateFeatureConfig( $event )"  novalidate>

        <md-dialog-content>
            <md-input-container>
                <label>Key Name</label>
                <input required name="featureKey" ng-model="item.featureKey" />
                <div ng-messages="featureConfigForm.$showValidation && featureConfigForm.featureKey.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="uniqueKey">Key is already exists.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Feature help text</label>
                <input required name="featureText" ng-model="item.featureText" />
                <div ng-messages="featureConfigForm.$showValidation && featureConfigForm.featureText.$error">
                    <div ng-message="required">This is required.</div>
                </div>

            </md-input-container>
            
            <div >
                <div>Open for? </div>
                <md-radio-group ng-model="item.open" layout="row">
                  <md-radio-button value="none" class="md-primary" flex> none </md-radio-button>
                  <md-radio-button value="all" flex> All </md-radio-button>
                  <md-radio-button value="few" flex> Few People </md-radio-button>
                </md-radio-group>
            </div>
            <div  class="field-wrapper" ng-if="item.open === 'few'">
                <md-chips required ng-model="item.list" name="list" placeholder="
                + open for" secondary-placeholder="show for"></md-chips>
            </div>

        </md-dialog-content>

        <div class="md-actions">

            <md-button ng-if="updateItem" class="md-primary md-raised primary-button">
                Update
            </md-button>
            <md-button ng-if="!updateItem" class="md-primary md-raised primary-button">
                Add
            </md-button>
            <md-button href="#" ng-click="closeDialog( $event )" class="md-primary primary-button">
                Close
            </md-button>
        </div>

    </form>
    <style type="text/css">
    .md-switch-thumb, md-radio-button {
        margin-left: 0;
    }
    </style>

    
</md-dialog>