<div layout="row" layout-wrap>
    <div flex>
        <h1 class="page-title">GLOBALS</h1>
    </div>
    <div flex="15">
        <md-button href="#/globals/add" class="md-raised md-primary block">Add Content</md-button>
    </div>
</div>
<div ng-if="responseLoaded && !responseError">

    <div ng-repeat="item in globals" layout layout-sm="column" class="global-content">

        <div flex="33" class="key">
            <a ng-href="#/globals/edit/{{item._id}}">{{item.name}}</a>
        </div>
        <div flex class="value">
            <div ng-if="item.type==='text'">
                {{item.value}}
            </div>
            <div ng-if="item.type==='md'" btf-markdown="item.value">
            </div>
        </div>
        <a href="#" class="delete-item" ng-click="deleteItem( $event, item, $index )">
            <i class="fa fa-trash-o ng-scope"></i>
        </a>
    </div>
    <div ng-if="!globals.length">
        <h2>Please add global content to the project</h2>
    </div>
</div>

<div ng-if="responseError">
    <h1>Some thing went wrong</h1>
</div>
<div ng-if="!responseLoaded">
    <md-progress-linear md-mode="indeterminate">Loading</md-progress-linear>
</div>

<style type="text/css">
    .global-content {
        padding: 10px;
        position: relative;
    }
    
    .global-content a {
        text-decoration: none;
    }
    
    .global-content .value * {
        margin: 0
    }
    
    .global-content:nth-child(odd) {
        background-color: #ccc;
    }
    
    .global-content .delete-item {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .global-content .value {
        max-height: 44px;
        overflow: hidden;
    }
</style>