<div class="aside-nav" id="aside-nav">
    <div class="aside-nav-content">
        <ul class="nav-links">
            <li>
                <a ng-href="{{basePath}}" >
                    Home
                </a>
            </li>
            <li>
                <a href="{{basePath}}propose-form#/" >
                    Propose An App
                </a>
            </li>
            <li>
                <a href="{{basePath}}gallery" >
                    All Proposals
                </a>
            </li>
            <li ng-if="!username">
                <a  ng-href="{{signinurl}}" >
                    SIGNIN
                </a>
            </li>
            <li ng-if="username">
                <a  href="{{basePath}}dashboard" >
                    My Proposals
                </a>
            </li>
            <li ng-if="admin">
                <a  href="{{basePath}}admin" >
                    Admin Dashboard
                </a>
            </li>
            <li ng-if="username">
                <a  href="#" ng-click="logout($event)">
                    LOGOUT, {{username}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="opened-page-mask" class="opened-page-mask" ng-click="closeMenu( $event )"></div>

   
<a href="#" class="nav-menu" ng-click="openMenu( $event )" >
    <!--span class="welcome-username" ng-if="username">Welcome {{username}}</span-->
    <i class="fa fa-bars"></i>
</a>



