<h1>
	Add Global Item
</h1>

<form name="globalAddForm" ng-submit="addGlobal( $event )" novalidate ng-class="{'form-submitted': globalAddForm.$submitted }">
    <md-input-container>
        <label>Name</label>
        <input required name="name" ng-model="item.name">
        <div ng-messages="globalAddForm.$submitted && globalAddForm.name.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Type</label>
        <md-select name="type" ng-model="item.type" required>
            <md-option value="md">Markdown</md-option>
            <md-option value="text">text</md-option>
        </md-select>
        <div ng-messages="globalAddForm.$submitted && globalAddForm.type.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Value</label>
        <textarea required name="value" ng-model="item.value"></textarea>
        <div ng-messages="globalAddForm.$submitted && globalAddForm.value.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-button class="md-raised md-primary" type="submit">
        Add Global
    </md-button>

</form>