<h1 class="page-title">Letsbuild App</h1>
<form name="letsbuildAddForm" ng-submit="addApp( $event )" novalidate ng-class="{'form-submitted': letsbuildAddForm.$submitted }">
    <md-input-container>
        <label>Name</label>
        <input required name="name" ng-model="item.name">
        <div ng-messages="letsbuildAddForm.$submitted && letsbuildAddForm.name.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Effort</label>
        <input required name="effort" ng-model="item.effort">
        <div ng-messages="letsbuildAddForm.$submitted && letsbuildAddForm.effort.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Stage</label>
        <input required name="status" ng-model="item.status">
        <div ng-messages="letsbuildAddForm.$submitted && letsbuildAddForm.name.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Category</label>
        <input required name="division" ng-model="item.division">
        <div ng-messages="letsbuildAddForm.$submitted && letsbuildAddForm.division.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>% of Completion</label>
        <input name="percentageOfCompletion" ng-model="item.percentageOfCompletion">
        <div ng-messages="letsbuildAddForm.$submitted && letsbuildAddForm.percentageOfCompletion.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>src</label>
        <input name="src" ng-model="item.src">
        <div ng-messages="letsbuildAddForm.$submitted && letsbuildAddForm.src.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <md-button class="md-raised md-primary" type="submit">
        Propose An App
    </md-button>
</form>