<div style="width: 50%; margin: 0 auto">
    <div layout="row" layout-wrap>
        <div flex>
            <h1 class="page-title">Sign In</h1>
        </div>
    </div>
    <div>
        <md-toolbar class="md-warn" ng-if="errorCode" style="margin-bottom: 20px">
            <div class="md-toolbar-tools">
              <p>Invalid Credentails</p>
            </div>
        </md-toolbar>
        <form name="signinForm" ng-submit="login( $event )" novalidate="novalidate">
            <input type="submit" hidden/>
            <md-input-container>
                <label>Email</label>
                <input required name="email" ng-model="item.email">
                <div ng-messages="signinForm.$submitted && signinForm.email.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            
            <md-input-container>
                <label>Password</label>
                <input ng-model="item.password" name="password" required/>
                <div ng-messages="signinForm.$submitted && signinForm.password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-button class="md-raised md-primary block">Sigin In</md-button>

        </form>
    </div>
</div>