body {
    font: 400 13px Montserrat, Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 1.9;
}

.wrapall,
.boxed-layout {
    background-color: #ffffff;
}

body.page-template-page-blank-php {
    background: #ffffff !important;
}

h1 {
    font: 28px Open Sans, Arial, Helvetica, sans-serif;
    color: #333333;
}

h2 {
    font: 24px Open Sans, Arial, Helvetica, sans-serif;
    color: #333333;
}

h3 {
    font: 20px Open Sans, Arial, Helvetica, sans-serif;
    color: #333333;
}

h4 {
    font: 16px Open Sans, Arial, Helvetica, sans-serif;
    color: #333333;
}

h5 {
    font: 16px Open Sans, Arial, Helvetica, sans-serif;
    color: #333333;
}

h6 {
    font: 16px Open Sans, Arial, Helvetica, sans-serif;
    color: #333333;
}

.title {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6 {
    color: #333333;
}

a {
    color: #1cbac8;
}

a:hover {
    color: #333333;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea,
select {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#sidebar .widget h3 {
    font: 14px Open Sans, Arial, Helvetica, sans-serif;
    color: #444444;
}

.container .twelve.alt.sidebar-right,
.container .twelve.alt.sidebar-left,
#sidebar.sidebar-right #sidebar-widgets,
#sidebar.sidebar-left #sidebar-widgets {
    border-color: #efefef;
}

#topbar {
    background: #f5f5f5;
    color: #777777;
}

#topbar a {
    color: #999999;
}

#topbar a:hover {
    color: #333333;
}

@media only screen and (max-width: 767px) {
    #topbar .topbar-col1 {
        background: #f5f5f5;
    }
}


/* Navigation */

#navigation > ul > li > a {
    font: 400 15px Montserrat, Arial, Helvetica, sans-serif;
    color: #636361;
}

#navigation > ul > li:hover > a,
#navigation > ul > li > a:hover {
    color: #deaa0a;
}

#navigation li.current-menu-item > a:hover,
#navigation li.current-page-ancestor > a:hover,
#navigation li.current-menu-ancestor > a:hover,
#navigation li.current-menu-parent > a:hover,
#navigation li.current_page_ancestor > a:hover,
#navigation > ul > li.sfHover > a {
    color: #deaa0a;
}

#navigation li.current-menu-item > a,
#navigation li.current-page-ancestor > a,
#navigation li.current-menu-ancestor > a,
#navigation li.current-menu-parent > a,
#navigation li.current_page_ancestor > a {
    color: #deaa0a;
}

#navigation ul li:hover {
    border-color: #deaa0a;
}

#navigation li.current-menu-item,
#navigation li.current-page-ancestor,
#navigation li.current-menu-ancestor,
#navigation li.current-menu-parent,
#navigation li.current_page_ancestor {
    border-color: #deaa0a;
}

#navigation .sub-menu {
    background: #ffffff;
}

#navigation .sub-menu li a {
    font: 13px Open Sans, Arial, Helvetica, sans-serif;
    color: #a9a9a9;
}

#navigation .sub-menu li a:hover {
    color: #f9f9f9;
}

#navigation .sub-menu li.current-menu-item > a,
#navigation .sub-menu li.current-menu-item > a:hover,
#navigation .sub-menu li.current-page-ancestor > a,
#navigation .sub-menu li.current-page-ancestor > a:hover,
#navigation .sub-menu li.current-menu-ancestor > a,
#navigation .sub-menu li.current-menu-ancestor > a:hover,
#navigation .sub-menu li.current-menu-parent > a,
#navigation .sub-menu li.current-menu-parent > a:hover,
#navigation .sub-menu li.current_page_ancestor > a,
#navigation .sub-menu li.current_page_ancestor > a:hover {
    color: #f9f9f9;
}

#navigation .sub-menu li a {
    border-color: #f7f7f7;
}

#navigation > ul > li.megamenu > ul.sub-menu {
    background: #ffffff;
    border-color: #deaa0a;
}

#navigation > ul > li.megamenu > ul > li {
    border-right-color: #f7f7f7 !important;
}

#navigation > ul > li.megamenu ul li a {
    color: #a9a9a9;
}

#navigation > ul > li.megamenu > ul > li > a {
    color: #6d6d6d;
}

#navigation > ul > li.megamenu > ul ul li a:hover,
#header #navigation > ul > li.megamenu > ul ul li.current-menu-item a {
    color: #f9f9f9 !important;
    background-color: #c4c4c4 !important;
}


/* Header General */

#search-btn,
#shopping-btn,
#close-search-btn {
    color: #000000;
}

#search-btn:hover,
#shopping-btn:hover,
#close-search-btn:hover {
    color: #deaa0a;
}

#slogan {
    font: 400 20px Open Sans, Arial, Helvetica, sans-serif;
    color: #777777;
    margin-top: 26px;
}


/* Mobile Header */

#mobile-navigation {
    background: #ffffff;
}

#mobile-navigation ul li a {
    font: 13px Open Sans, Arial, Helvetica, sans-serif;
    color: #a9a9a9;
    border-bottom-color: #f7f7f7 !important;
}

#mobile-navigation ul li a:hover,
#mobile-navigation ul li a:hover [class^='fa-'],
#mobile-navigation li.open > a,
#mobile-navigation ul li.current-menu-item > a,
#mobile-navigation ul li.current-menu-ancestor > a {
    color: #f9f9f9;
}

body #mobile-navigation li.open > a [class^='fa-'] {
    color: #f9f9f9;
}

#mobile-navigation form,
#mobile-navigation form input {
    background: #444444;
    color: #cccccc;
}

#mobile-navigation form:before {
    color: #cccccc;
}

#mobile-header {
    background: #facb3b;
    height: 97px;
}

#mobile-navigation-btn,
#mobile-cart-btn,
#mobile-shopping-btn {
    color: #000000;
    line-height: 97px;
}

#mobile-navigation-btn:hover,
#mobile-cart-btn:hover,
#mobile-shopping-btn:hover {
    color: #deaa0a;
}

#mobile-header .logo {
    margin-top: 9px;
}


/* Header V1 */

#header.header-v1 {
    height: 97px;
    background: #facb3b;
}

.header-v1 .logo {
    margin-top: 9px;
}

.header-v1 #navigation > ul > li {
    height: 97px;
    padding-top: 35px;
}

.header-v1 #navigation .sub-menu {
    top: 97px;
}

.header-v1 .header-icons-divider {
    line-height: 97px;
    background: #efefef;
}

#header.header-v1 .widget_shopping_cart {
    top: 97px;
}

.header-v1 #search-btn,
.header-v1 #close-search-btn,
.header-v1 #shopping-btn {
    line-height: 97px;
}

.header-v1 #search-top,
.header-v1 #search-top input {
    height: 97px;
}

.header-v1 #search-top input {
    color: #666666;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}


/* Header V3 */

#header.header-v3 {
    background: #facb3b;
}

.header-v3 .navigation-wrap {
    background: #facb3b;
    border-top: 1px solid #efefef;
}

.header-v3 .logo {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Header V4 */

#header.header-v4 {
    background: #facb3b;
}

.header-v4 .navigation-wrap {
    background: #facb3b;
    border-top: 1px solid #efefef;
}

.header-v4 .logo {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Transparent Header */

#transparentimage {
    padding: 97px 0 0 0;
}

.header-is-transparent #mobile-navigation {
    top: 97px;
}


/* Stuck */

.stuck {
    background: #facb3b;
}


/* Titlebars */

.titlebar h1 {
    font: 400 22px Open Sans, Arial, Helvetica, sans-serif;
    color: #777777;
}

#fulltitle {
    background: #f9f9f9;
    border-bottom: 1px solid #efefef;
}

#breadcrumbs {
    margin-top: 6px;
}

#breadcrumbs,
#breadcrumbs a {
    font: 400 13px Open Sans, Arial, Helvetica, sans-serif;
    color: #aaaaaa;
}

#breadcrumbs a:hover {
    color: #666666;
}

#fullimagecenter h1,
#transparentimage h1 {
    font: 700 42px Montserrat, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1;
    text-align: center;
}


/* Footer */

#footer .widget h3 {
    font: 13px Montserrat, Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#footer {
    color: #888888;
    border-top: 4px none #1cbac8;
}

#footer {
    background-color: #262626;
}

#footer a,
#footer .widget ul li:after {
    color: #888888;
}

#footer a:hover,
#footer .widget ul li:hover:after {
    color: #ffffff;
}

#footer .widget ul li {
    border-bottom-color: #333333;
}


/* Copyright */

#copyright {
    background: #1b1b1b;
    color: #777777;
}

#copyright a {
    color: #999999;
}

#copyright a:hover {
    color: #cccccc;
}


/* Color Accent */

.highlight {
    color: #deaa0a !important;
}

::selection {
    background: #deaa0a;
}

::-moz-selection {
    background: #deaa0a;
}

#shopping-btn span {
    background: #deaa0a;
}

.blog-page .post h1 a:hover,
.blog-page .post h2 a:hover {
    color: #deaa0a;
}

.entry-image .entry-overlay {
    background: #deaa0a;
}

.entry-quote a:hover {
    background: #deaa0a;
}

.entry-link a:hover {
    background: #deaa0a;
}

.blog-single .entry-tags a:hover {
    color: #deaa0a;
}

.sharebox ul li a:hover {
    color: #deaa0a;
}

#pagination .current a {
    background: #deaa0a;
}

#filters ul li a:hover {
    color: #deaa0a;
}

#filters ul li a.active {
    color: #deaa0a;
}

#back-to-top a:hover {
    background-color: #deaa0a;
}

#sidebar .widget ul li a:hover {
    color: #deaa0a;
}

#sidebar .widget ul li:hover:after {
    color: #deaa0a;
}

.widget_tag_cloud a:hover,
.widget_product_tag_cloud a:hover {
    background: #deaa0a;
    border-color: #deaa0a;
}

.widget_portfolio .portfolio-widget-item .portfolio-overlay {
    background: #deaa0a;
}

#sidebar .widget_nav_menu ul li a:hover {
    color: #deaa0a;
}

#footer .widget_tag_cloud a:hover,
#footer .widget_product_tag_cloud a:hover {
    background: #deaa0a;
    border-color: #deaa0a;
}


/* Shortcodes */

.box.style-2 {
    border-top-color: #deaa0a;
}

.box.style-4 {
    border-color: #deaa0a;
}

.box.style-6 {
    background: #deaa0a;
}

a.button,
input[type=submit],
button {
    background: #deaa0a;
    border-color: #deaa0a;
}

a.button.color-2 {
    color: #deaa0a;
    border-color: #deaa0a;
}

a.button.color-3 {
    background: #deaa0a;
    border-color: #deaa0a;
}

a.button.color-9 {
    color: #deaa0a;
}

a.button.color-6:hover {
    background: #deaa0a;
    border-color: #deaa0a;
}

a.button.color-7:hover {
    background: #deaa0a;
    border-color: #deaa0a;
}

.counter-number {
    color: #deaa0a;
}

.divider-title.align-center:after,
.divider-title.align-left:after {
    background-color: #deaa0a
}

.divider5 {
    border-bottom-color: #deaa0a;
}

.dropcap.dropcap-circle {
    background-color: #deaa0a;
}

.dropcap.dropcap-box {
    background-color: #deaa0a;
}

.dropcap.dropcap-color {
    color: #deaa0a;
}

.toggle .toggle-title.active,
.color-light .toggle .toggle-title.active {
    background: #deaa0a;
    border-color: #deaa0a;
}

.iconbox-style-1.icon-color-accent i.boxicon,
.iconbox-style-2.icon-color-accent i.boxicon,
.iconbox-style-3.icon-color-accent i.boxicon,
.iconbox-style-8.icon-color-accent i.boxicon,
.iconbox-style-9.icon-color-accent i.boxicon {
    color: #deaa0a!important;
}

.iconbox-style-4.icon-color-accent i.boxicon,
.iconbox-style-5.icon-color-accent i.boxicon,
.iconbox-style-6.icon-color-accent i.boxicon,
.iconbox-style-7.icon-color-accent i.boxicon,
.flip .icon-color-accent.card .back {
    background: #deaa0a;
}

.latest-blog .blog-item .blog-overlay {
    background: #deaa0a;
}

.latest-blog .blog-item .blog-pic i {
    color: #deaa0a;
}

.latest-blog .blog-item h4 a:hover {
    color: #deaa0a;
}

.progressbar .progress-percentage {
    background: #deaa0a;
}

.wpb_widgetised_column .widget ul li a:hover {
    color: #deaa0a;
}

.wpb_widgetised_column .widget ul li:hover:after {
    color: #deaa0a;
}

.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
    background-color: #deaa0a;
}

.wpb_accordion .wpb_accordion_wrapper .ui-state-active.wpb_accordion_header a {
    color: #deaa0a;
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover .ui-state-default .ui-icon {
    color: #deaa0a;
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:hover .ui-icon {
    background-color: #deaa0a!important;
}

.wpb_content_element .wpb_tabs_nav li.ui-tabs-active {
    border-bottom-color: #deaa0a;
}

.portfolio-item h4 a:hover {
    color: #deaa0a;
}

.portfolio-filters ul li a:hover {
    color: #deaa0a;
}

.portfolio-filters ul li a.active {
    color: #deaa0a;
}

.portfolio-overlay-icon .portfolio-overlay {
    background: #deaa0a;
}

.portfolio-overlay-icon i {
    color: #deaa0a;
}

.portfolio-overlay-effect .portfolio-overlay {
    background: #deaa0a;
}

.portfolio-overlay-name .portfolio-overlay {
    background: #deaa0a;
}

.portfolio-detail-attributes ul li a:hover {
    color: #deaa0a;
}

a.catimage:hover .catimage-text {
    background: #deaa0a;
}


/* WooCommerce */

.products li h3 {
    font: 400 13px Montserrat, Arial, Helvetica, sans-serif;
    color: #777777;
}

.woocommerce .button.checkout-button {
    background: #deaa0a;
    border-color: #deaa0a;
}

.woocommerce .products .onsale {
    background: #deaa0a;
}

.product .onsale {
    background: #deaa0a;
}

button.single_add_to_cart_button:hover {
    background: #deaa0a;
}

.woocommerce-tabs > ul > li.active a {
    color: #deaa0a;
    border-bottom-color: #deaa0a;
}

p.stars a:hover {
    background: #deaa0a;
}

p.stars a.active,
p.stars a.active:after {
    background: #deaa0a;
}

.product_list_widget a {
    color: #deaa0a;
}

.woocommerce .widget_layered_nav li.chosen a {
    color: #deaa0a!important;
}

.woocommerce .widget_product_categories > ul > li.current-cat > a {
    color: #deaa0a!important;
}

.woocommerce .widget_product_categories > ul > li.current-cat:after {
    color: #deaa0a!important;
}

.woocommerce-message {
    background: #deaa0a;
}

.bbp-topics-front ul.super-sticky .bbp-topic-title:before,
.bbp-topics ul.super-sticky .bbp-topic-title:before,
.bbp-topics ul.sticky .bbp-topic-title:before,
.bbp-forum-content ul.sticky .bbp-topic-title:before {
    color: #deaa0a!important;
}

#subscription-toggle a:hover {
    background: #deaa0a;
}

.bbp-pagination-links span.current {
    background: #deaa0a;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors {
    background: #deaa0a;
}

.wpcf7-not-valid {
    border-color: #deaa0a !important;
}


/* Special Font */

.font-special,
.button,
.counter-title,
h6,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a,
.pricing-plan .pricing-plan-head h3,
a.catimage,
.divider-title,
button,
input[type='submit'],
input[type='reset'],
input[type='button'],
.vc_pie_chart h4,
.page-404 h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    /*letter-spacing: 0px; font-weight: 300;*/
}


/* User CSS from Theme Options */

#navigation > ul > li:hover > a,
#navigation > ul > li > a:hover,
#navigation > ul > li:hover > a {
    color: #deaa0a;
}

#navigation li.current-menu-item > a,
#navigation li.current-page-ancestor > a,
#navigation li.current-menu-ancestor > a,
#navigation li.current-menu-parent > a,
#navigation li.current_page_ancestor > a {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
    border-radius: 10px;
    color: #6d6d6d !important;
}

.sub-menu li.sfHover >a {
    color: #000 !important;
}

.header-v1 #navigation > ul > li > a {
    padding-left: 25px;
    padding-right: 25px;
}

#navigation .sub-menu li.current-menu-item > a,
#navigation .sub-menu li.current-menu-item > a:hover,
#navigation .sub-menu li.current-page-ancestor > a,
#navigation .sub-menu li.current-page-ancestor > a:hover,
#navigation .sub-menu li.current-menu-ancestor > a,
#navigation .sub-menu li.current-menu-ancestor > a:hover,
#navigation .sub-menu li.current-menu-parent > a,
#navigation .sub-menu li.current-menu-parent > a:hover,
#navigation .sub-menu li.current_page_ancestor > a,
#navigation .sub-menu li.current_page_ancestor > a:hover {
    background-color: transparent;
    padding-top: 10px 0px;
    margin-top: 0px;
    border-radius: 0px;
}

#header.header-transparent.header-v1 #navigation > ul > li > a {
    color: #636361;
}

#navigation .sub-menu ul {
    border-radius: 0px 0px 2px 2px;
}

#navigation > ul > li > a {
    text-transform: uppercase;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

/*lOGIN */

#login-form {
    position: relative;
}

#header.header-transparent.header-v1 {
    background: rgba(250, 203, 59, 0.85) !important;
}

#navigation li.current-menu-item > a,
#navigation li.current-page-ancestor > a,
#navigation li.current-menu-ancestor > a,
#navigation li.current-menu-parent > a,
#navigation li.current_page_ancestor > a {
    color: #deaa0a !IMPORTANT;
}

.current-page-ancestor a {
    color: #deaa0a !important;
}

#login-form h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px;
    background-color: #262927;
    color: #ED6025;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

#login-form form {
    background-color: rgba(0, 0, 0, 0.56);
}

#login-form fieldset {
    position: relative;
    border: none;
    text-align: center;
    padding: 30px 20px;
}

#login-form input {
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    border: none;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    border: 1px solid #444;
    padding: 16px 10%;
    width: 80%;
    background-color: #E9E9E9;
    color: #a6a6a5;
    border-radius: 4px;
    font-weight: 100;
    font-size: 18px;
}

#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
    background: #fff;
}

#login-form input[type="submit"] {
    float: left;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: normal;
    display: inline-block;
}

#login-form input[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

#login-form a.need_help {
    color: #F3F3F4;
    font-size: 18px;
    padding-top: 7px;
    display: inline-block;
    text-decoration: underline;
}

@media(max-width:360px) {
    #login-form input[type="submit"] {
        width: 100%;
    }
}


/*login End */

.see_how .iconbox-style-3 i.boxicon {
    margin: 0;
    color: #ABABAA !important;
}

.see_how h3,
.see_how p {
    display: none;
}

.see_how a.button.color-1 {
    background: #F3F3F3;
    border: 0px;
    border-radius: 118px 118px 0px 0px;
    width: 156px;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #ABABAA !important;
    font-size: 16px;
    font-weight: normal
}

.wpb_text_column.wpb_content_element.see_how {
    text-align: center;
}


/* Updates */

.headline_update,
.headline_openings {
    float: left;
    display: inline-block;
}

.filter_dropdown_update {
    float: right;
    position: relative;
    top: 10px;
}

#update_filter_container,
#currentOpenings_container {
    display: block;
    clear: both;
}

#update_filter_container ul,
#currentOpenings_container ul {
    list-style-type: none;
    margin: 0;
}

#update_filter_container li,
#currentOpenings_container li {
    padding: 20px 10px;
    border-top: 1px solid #EDEDED;
    background: #fff;
    cursor: pointer;
    color: #7C7C7C;
    font-size: 15px;
    font-weight: normal;
}

#update_filter_container li:hover,
#currentOpenings_container li:hover {
    color: #DEAA0A;
}

#update_filter_container li i,
#currentOpenings_container li i {
    margin: 0px 20px;
}

.produkt-element {
    width: 97%;
}

.info_quote {
    padding-top: 12px;
}

.update_Time {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #EAEAEA
}

.home_header_text {
    font-family: 'Seaweed Script', cursive;
}